# .gitignore for Exodus Wallet Password Brute Forcer

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# VSCode
exodus.wallet-password-bruteforcer.code-workspace
*.workspace

# Jupyter Notebooks
*.ipynb

# OS Files
.DS_Store
Thumbs.db

# Environment
.env
venv/

# Logs
*.log

exodus-decode-wallet.py

# Wallets and Sensitive Data
*.wallet
*.dat
*.seed

# Misc
*.bak
*.swp
